<footer class="text-center pb-4 fade-in-up delay-5" style="background-color;">
  <div class="container">

    <!-- Back to Top -->
    <button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
            class="btn text-muted fw-bold text-uppercase px-2 py-1  mb-2 rounded-2 border-3"
            style="font-size: 0.8rem;">
      ↑ Back to Top
    </button>

    <!-- Copyright -->
    <p class="text-muted small mb-0">&copy; <%= Time.current.year %> Jordan Gilbert. All rights reserved.</p>
  </div>
</footer>

<style>
 body {
  background-color: white !important;
  font-family: 'Source Code Pro', sans-serif !important;
}
</style>
