<p>You have a new message from your portfolio site:</p>

<p><strong>Name:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Message:</strong></p>
<p><%= simple_format(@message) %></p>
